<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ゴーヤの情報(課題)</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>
    
    
      <% result = connection.exec("select weight, given_for from crops where given_for != '自家消費';") %>
      <% data = [] %>
      <% result.each do |record| %>
        <%  data << "ゴーヤの重さ：#{record["weight"]} 売った相手：#{record["given_for"]}" %>
        <% end %>
        
      <form action="goya.cgi" method="POST">
      下記のボタンを押すと、譲渡先が自家消費ではないゴーヤの情報ページに飛びます<br><br>
      <!-- valueには、送りたいデータを代入する -->
      <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
      </form>
      
      <% result = connection.exec("select weight, length from crops where quality = false;") %>
      <% data = [] %>
      <% result.each do |record| %>
        <%  data << "ゴーヤの重さ：#{record["weight"]} ゴーヤの長さ:#{record["length"]}" %>
      <% end %>

      <form action="goya.cgi" method="POST">
      下記のボタンを押すと、品質が悪いゴーヤの情報ページに飛びます<br><br>
         <!-- valueには、送りたいデータを代入する -->
         <!-- name="goya"を、情報の目印とする -->
        <input type="text" name="goya1" value="<%= data.join(' ') %>">
        <input type="submit" name="送信" >
      </form>

  </body>
</html>